/* 
Orden de los estilos

1.-Posiciomaiento
2.-Modelo de Caja
3.-Tipografia
4.-Estilo de efectos visuales 
5.-Otros

*/

/* Variables */
:root{
  /* Colores */
  --bitcoin-orange:#F7931A;
  --soft-orange:#FFE9D4;
  --warm-black:#201E1C;
  --black:#282623;
  --just-white:#FFFFFF;
  --off-white:#FAF8F7;
  --secondary-blue:#1A9AF7;
 --soft-blue:#E7F5FF;
 --grey:#BABABA;

}

/* Incializacion de estilos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}